#modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
#q_order {
    display: none;
    position: absolute;
    background: #fff url(../img/bg_top.png) no-repeat;
    width: 590px;
    height: 410px;
    border: 1px solid #6C55FF;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(135,206,250,0.7);
    top:  50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -310px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 101;
}
#q_order h3 {
    color: #1a70c2;
}
#q_order h4 {
    font-size: 15px;
}
#q_order>h4>span {
    color: #1a70c2;
    font-weight: bold;
}
#q_order>p {
    font-size: 15px;
    color: #5F5F5F;
}
#q_order input[type="text"] {
    border: 2px solid #1a70c2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 22px;
    width: 556px;
    color: #6f6f6f;
    padding: 8px 15px;
    font-size: 16px;
    font-family: Europe, Arial;
}
/****************** Button [START]******************/
#q_order .btn {
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    background: none;
    cursor: pointer;
    height: 42px;
    width: 270px;
    padding: 8px 15px;
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#q_order .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#q_order .btn-2 {
    background: blue;
    color: #fff;
    box-shadow: 0 6px #1a70c2;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
#q_order .btn-2c {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
}

#q_order .btn-2c:hover {
    box-shadow: 0 4px #1a70c2;
    top: 2px;
}

#q_order .btn-2c:active {
	box-shadow: 0 0 #1a70c2;
	top: 6px;
}
/****************** Button [END]******************/